
/* .container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: aqua;
} */

.header {
  background: #eef6fb;
  padding: 50px 60px;
}

.path {
  font-size: 20px;
  color: #3bb4e5;
  margin-bottom: 8px;
}

.path a {
  color: #3bb4e5;
  text-decoration: none;
  font-weight: bold;
}

.path span {
 color: #0a5ca8;
 font-weight: bold;
}
.title {
  font-size: 36px;
  font-weight: bold;
  color: #0a5ca8;
  margin: 0;
}



.about-container {
  width: 100%;
  padding: 80px 0px;
  background-color:#eef6fb83 ;
  display: flex;

}

.about-content {
  max-width: 700px;
  width: 100%;
  margin-left: 4%;

}

.about-content h3 {
  font-size: 26px;
  color: #0a5ca8;
  margin: 0;
  margin-bottom: 20px;
}

.about-content h4 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #0a5ca8;
  margin: 0;
}

.about-content p {
  font-size: 20px;
  line-height: 1.7;
  margin: 0;
  color: black;
}

.doctor-section {
  padding: 60px;
  background: #fff;
 
}

.doctor-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.doctor-card {
  border: 2px solid #94c6fc;
  border-radius: 12px;
  padding: 40px 30px;
  text-align: center;
  background: #fff;
}

.doctor-img {
  width: 220px;
  height: 220px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
  background: #f1f5f9;
}

.doctor-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.doctor-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #222;
  margin-bottom: 8px;
}

.doctor-card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}

.btn-profile {
  background: #0a4f8a;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.btn-profile:hover {
  background:#3bb4e5;
}

