 /* .content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-us{
    width: 100%;
    padding: 20px 0px;
    background-color: #eef6fb;
    margin-top: 50px;
    
}

.contact-us p{
    font-size: 22px;
    color: #0b5fa5;
    font-weight: bold;
    margin-left: 150px;
}

.contact-us span{
    color: #45caf6;
    font-size: 22px;
    font-weight: bold;
}

.contact-us h1{
    color: #0b5fa5;
    font-size: 45px;
    margin-left: 150px;
}

.container {
    width: 100%;
    padding: 20px 0;
   
}

.text {
    width: 100%;
    
    background-color: white ;
    display: flex;
    justify-content: center; 
    align-items: center;    
 
}

.title {
    width: 600px;
    
    background-color: white;
    align-items: center;
    justify-content: center;
}

.title p{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;

}

.line {
    width: 70%;
    height: 2px;
    background-color: #45caf681;
    margin-left: 90px;
}



.price {
    width: 1100px;
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.price h3 {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #0b5fa5;

}

.price p {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.wp-block-media-text {
    width: 97.2%;
    padding: 20px;
   background-color: white;
   display: flex;
   gap: 50px;
}

.wp-block-media-text-contact {
    width: 36%;
    padding: 20px;
    
    margin-left: 140px;
    
}

.wp-block-media-text-contact p{
   font-size: 22px;
      font-family: "Roboto", sans-serif;


}

.wp-block-media-text-img {
    width: 36%;
    height: 335px;
    margin-top: 3%;
    background-color: black;
}

.wp-block-media-text-img img {
    width: 100%;  
    height: 100%;
    display: block;
   
} */
