.careers-section {
display: flex;
align-items: center;
justify-content: space-between;
padding: 80px ;
gap: 60px;
}


.careers-content {
flex: 1;
margin-bottom: 28%;
}


.careers-content h1 {
font-size: 42px;
color:  #0b5fa5;
margin-bottom: 20px;
}


.careers-content .subtitle {
font-size: 22px;
color: rgba(0, 0, 0, 0.836);
margin-bottom: 25px;
margin: 0;
}


.careers-content p {
font-size: 17px;
line-height: 1.7;
color: black;
margin-bottom: 15px;
max-width: 520px;
}


.careers-content a {
color: #45caf6;
text-decoration: none;
font-weight: 500;
}


.careers-image {
flex: 1;
}


.careers-image img {
width: 100%;
height: auto;
border-radius: 6px;
object-fit: cover;
}